$even: #377cbe;

// Override default variables before the import
$primary: $even;
// $body-bg: #000;
$font-family-sans-serif: "Avenir", Helvetica, Arial, sans-serif;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';